name: Install, build and test api

on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches:
      - main
    paths:
      - "api/**"
      - ".github/workflows/test-api.yml"
  push:
    branches:
      - main
    paths:
      - "api/**"
      - ".github/workflows/test-api.yml"

defaults:
  run:
    working-directory: ./api

jobs:
  install-build-and-test-api:
    name: Install, build and test api
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: "./api"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "./api/.python-version"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run linters, checks and tests
        run: |
          uv run poe release
