name: Install, build and test ui

on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches:
      - main
    paths:
      - "ui/**"
      - ".github/workflows/test-ui.yml"

defaults:
  run:
    working-directory: ./api

jobs:
  install-build-and-test-ui:
    name: Install, build and test ui
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v4
      - name: Install uvCOPY --from=
        uses: astral-sh/setup-uv@v3

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "./ui/.python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run linters, checks and tests
        run: |
          uv run poe release
